---
import BaseLayout from "../layouts/BaseLayout.astro";

const seoTitle: string = "Lex Astro - Contacts";
const pageTitle: string = "Contact Us!";
---

<BaseLayout seoTitle={seoTitle}>
    <h1>{pageTitle}</h1>
</BaseLayout>
