---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("COLL_posts");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post }
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout seoTitle={post.data.title}>
    <p>*the raw content of .md file:</p>
    <Content />
</BaseLayout>
