---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";

const seoTitle: string = "Lex Astro - Home";
const pageTitle: string = "Welcome on my website!";
---

<BaseLayout seoTitle={seoTitle}>
	<h1>{pageTitle}</h1>
	<Greeting
		client:visible={{ rootMargin: "200px" }}
		messages={["Hi", "Hello", "Howdy", "Hey there"]}
	/>
</BaseLayout>
