---
import SocialIcon from "./SocialIcon.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;

        & .social-icons {
            list-style: none;
            display: flex;
            gap: 12px;
        }
    }
</style>

<footer>
    <p>Learn more about me:</p>
    <ul class="social-icons">
        <li><SocialIcon platform={"GitHub"} username={"Forseti93"} /></li>
        <li>
            <SocialIcon platform={"Instagram"} username={"serhiilavrenov"} />
        </li>
    </ul>
</footer>
