---

---

<div class="menu-wrapper">
    <button aria-expanded="false" aria-controls="main-menu" class="menu-btn">
        Menu
    </button>
    <nav>
        <a href="/">Home</a>
        <a href="/contacts/">Contacts</a>
        <a href="/blog/">Blog</a>
        <a href="/tags/">Tags</a>
        <a href="/posts-collections/">Posts Collections</a>
        <a href="/about/">About</a>
    </nav>
</div>

<style>
    .menu-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
    }
</style>
